.jumbotron {
  padding: 9rem 1rem;
  background-color: black;
  color: white;
}

.jumbotron2 {
  padding: 1rem;
  padding-top: 5rem;
  padding-bottom: 20rem;
  background-color: black;
  color: white;
  text-align: center;
}
